DD_API_KEY=
DD_APP_KEY=
DD_SITE=datadoghq.com
DD_PIPELINE_IDS=pipeline-abc,pipeline-def
DD_FILTER_PROCESSOR_ID=drop-debug

SN_INSTANCE=yourcompany.service-now.com
SN_USER=
SN_PASS=
SN_MIN_SEVERITY=2

GRANT_DURATION_SECONDS=600
